{% extends "base.html" %}
{% block title %}Users{% endblock %}

{% block content %}
<br><div class="container jumbotron p-2">
    <h1>SQL Alchemy</h1>
    <h2>Python Flask CRUD Web Application Developement</h2>
    <h5>CRUD stands for Create, Read, Update and Delete</h5>
</div><br>
<div class="container jumbotron p-2">
    <table class="table table-hover table-bordered table-dark">
        <thead>
            <tr>
                <th scope="col">UID</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Budget</th>
                <th scope="col">User Info</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email_address }}</td>
                <td>{{ user.password_hash }}</td>
                <td>{{ user.budget }}</td>
                <td>
                    <button class="btn btn-outline btn-info">More Info</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}